05-supply-chain-incident-response/code/playbook-credential-compromise.json
{
  "_metadata": {
    "pack": "supply-chain-incident-response",
    "version": "1.0.0",
    "description": "Sentinel playbook (Logic App): contain vendor credential compromise. Disable accounts, revoke sessions, notify SOC."
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "triggers": {
      "Manual_or_Sentinel": {
        "type": "Request",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "vendorName": {"type": "string"},
              "vendorDomain": {"type": "string"},
              "incidentId": {"type": "string"},
              "severity": {"type": "string"}
            }
          }
        }
      }
    },
    "actions": {
      "Step_1_Find_Vendor_Accounts": {
        "type": "ApiConnection",
        "inputs": {
          "method": "get",
          "path": "/v1.0/users",
          "queries": {"$filter": "userType eq 'Guest' and mail contains '@{triggerBody()?['vendorDomain']}'"},
          "host": {"connection": {"name": "@parameters('$connections')['microsoftgraph']['connectionId']"}}
        }
      },
      "Step_2_Find_Service_Principals": {
        "type": "ApiConnection",
        "inputs": {
          "method": "get",
          "path": "/v1.0/servicePrincipals",
          "queries": {"$filter": "tags/any(t: t eq 'vendor:@{triggerBody()?['vendorName']}')"},
          "host": {"connection": {"name": "@parameters('$connections')['microsoftgraph']['connectionId']"}}
        },
        "runAfter": {"Step_1_Find_Vendor_Accounts": ["Succeeded"]}
      },
      "Step_3_Disable_All_Accounts": {
        "type": "Foreach",
        "foreach": "@union(body('Step_1_Find_Vendor_Accounts')?['value'], body('Step_2_Find_Service_Principals')?['value'])",
        "actions": {
          "Disable": {
            "type": "ApiConnection",
            "inputs": {
              "method": "patch",
              "path": "/v1.0/users/@{items('Step_3_Disable_All_Accounts')?['id']}",
              "body": {"accountEnabled": false}
            }
          },
          "Revoke_Sessions": {
            "type": "ApiConnection",
            "inputs": {
              "method": "post",
              "path": "/v1.0/users/@{items('Step_3_Disable_All_Accounts')?['id']}/revokeSignInSessions"
            },
            "runAfter": {"Disable": ["Succeeded"]}
          }
        },
        "runAfter": {"Step_2_Find_Service_Principals": ["Succeeded"]}
      },
      "Step_4_Notify_SOC": {
        "type": "ApiConnection",
        "inputs": {
          "method": "post",
          "path": "/v2/Mail",
          "body": {
            "To": "soc@stellamarisgovernance.com",
            "Subject": "SCRM CONTAINMENT: @{triggerBody()?['vendorName']} — @{triggerBody()?['severity']}",
            "Body": "Vendor accounts disabled and sessions revoked. Incident: @{triggerBody()?['incidentId']}. Blast radius assessment required."
          }
        },
        "runAfter": {"Step_3_Disable_All_Accounts": ["Succeeded"]}
      },
      "Step_5_Log_Containment": {
        "type": "ApiConnection",
        "inputs": {
          "method": "post",
          "path": "/api/logs",
          "body": {
            "EventType": "VendorContainment",
            "VendorName": "@{triggerBody()?['vendorName']}",
            "IncidentId": "@{triggerBody()?['incidentId']}",
            "ActionsCompleted": "DisableAccounts,RevokeSessions,NotifySOC",
            "Timestamp": "@{utcNow()}"
          }
        },
        "runAfter": {"Step_4_Notify_SOC": ["Succeeded"]}
      }
    }
  }
}
